<%- include('../partials/header') %>

<h1><%= item.name %></h1>

<p>Description: <%= item.description %></p>
<p>Category: <%= item.category %></p>
<p>Condition: <%= item.condition %></p>
<% if (item.image) { %>
  <img src="<%= item.image %>" alt="<%= item.name %> Image">
<% } %>

<% if (user && user.id === item.userId.toString()) { %>
  <a href="/items/<%= item._id %>/edit">Edit</a>
  <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
<% } %>

<a href="/items">Back to Items</a>

<%- include('../partials/footer') %>